.doctor-visible {
	margin-bottom: 70px;
	h2 {
		margin-bottom: 45px;
		font-size: 30px;
		line-height: 1.3;
		color: $slate1;
	}
	@include media ('<phone') {
		margin-bottom: 0;
		h2{
			font-size: 18px;
			line-height: 1.2;
			margin-bottom: 25px;
		}
	}
}
.doctor-content {
	a:focus{
		outline: none;
		img{
			border: 1px solid #eee;
		}
	}
	.doctor {
		padding-top: 35px;
		padding-bottom: 20px;
		&.active,
		&:hover{
			img{
				transform:scale(1.8);
			}
			.name{
				&:before{
					opacity: 0;
				}
			}
		}
	}
	.img-holder{
		img{
			margin: 0 auto 33px;
			transition: all .3s linear;
			border-radius: 50%;
			border: 1px solid transparent;
			position: relative;
			z-index: 1;
		}
	}
	.name{
		position: relative;
		bottom: 0;
		transition: all .3s linear;
		font-size: 18px;
		font-weight: 300;
		&:before{
			content: '';
			position: absolute;
			top:-10px;
			left: 50%;
			transform:translateX(-50%);
			width: 65px;
			height: 1px;
			background: $grey1;
			@extend %transition;
			opacity: 1;
		}
	}
	@include media ('<phone') {
		display: none;
	}
	.slick-next:before{
		background:transparent  url('images/Icons/PNGs/icon-arrow-right.png') center no-repeat;
	}
	.slick-prev:before{
		transform: rotate(180deg);
		background:transparent  url('images/Icons/PNGs/icon-arrow-right.png') center  no-repeat;
	}
	
}
.global {
	margin-bottom: 120px;
	background: transparent url(images/blob-our-doctors.svg) 35% 50% no-repeat;
	.docline{
		padding: 0;
		padding-left: 15px;
		position: relative;
		&:before{
			content:'';
			background: $grey1;
			position: absolute;
			left: -15px;
			bottom: 5px;
			top: 45px;
			width: 1px;
			@include media ('<phone') {
				content: none;
			}
		}
	}
	.doctor-info{
		.img-holder{
			img{
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}
	.holder {
		padding-top: 50px;
		font-size: 21px;
		font-weight: 100;
		color: $slate1;
		h3 {
			font-weight: 500;
			margin-bottom: 1px;
		}
		strong{
			font-size: 18px;
			font-weight: 900;
			margin-bottom: 16px;
			display: block;
		}
	}
	p{
		font-size: 18px;
		font-weight: 300;
	}
	h2 {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 9px;
	}
	@include media ('<phone') {
		.global{
			padding: 0 15px;
		}
		.holder{
			padding-top: 0;
			padding-bottom: 3px;
			font-size: 18px;
			line-height: 1.4;
			h2,strong{
				display: none;
			}
			h3{
				margin-bottom: 4px;
				font-weight: 100;
			}
			p{
				margin-bottom: 13px;

			}
		}
		.img-holder{
			width: 34%;
			padding-right: 15px;
			display: inline-block;
			vertical-align: middle;
		}
		.doctor{
			display: inline-block !important;
			width: 60%;
			vertical-align: bottom;
			h2{
				font-size: 21px;
				font-weight: 100;
				margin-bottom: 0;
			}
		}
		.doctor-info{
			padding-top: 11px;
			border: solid $grey1;
			border-width: 1px 0;
			+.doctor-info{
				border-width: 0 0 1px;
			}
		}
		.accordion-area{
			@extend %clearfix;
			position: relative;
			padding-bottom: 13px;
			&:before{
				content: '+';
				font-size: 34px;
				font-weight: 100;
				position: absolute;
				top: -14px;
				right: 21px;
				@extend %transition;
			}
		}
		.doctor-info.open .accordion-area:before{
			transform: rotate(135deg);
		}
	}
}
@include media ('<tablet') {
	.global {
		.doctor {
			h2 {
				font-size: 18px;
			}
		}
		.holder {
			h3 {
				font-size: 14px;
			}
			p {
				font-size: 15px;
			}
		}
		margin-bottom: 30px;
	}
}