.booking {
	padding: 75px 0;
	background: url(images/onlinebooking.jpg) no-repeat;
	background-position: center;
	.content-holder {
		color: $white;
		font-size: 18px;
		font-weight: 500;
		h2 {
			font-size: 52px;
			font-weight: 300;
		}
		a {
			//border: 1px solid $white;
			border-radius: 20px;
			padding:7px 15px;
			background-color: $white;
			font-weight: 900;
			color: $slate1;
			transition: all .3s linear;
			&:hover {
				background: $blue;
				color:$white
			}
		}
	}
}
#footer {
	background-color: $slate1;
	padding: 50px 0 0;
	color:$white;
	nav {
		ul {
			@extend %listreset;
			li {
				margin-bottom: 5px;
			}
			a{
				color: $grey1;
				font-size: 18px;
				font-weight: 500;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	h4 {
		color: $slate2;
		font-size: 15px;
		font-weight: 300;
	}
	.box {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 900;
		a {
			@extend a.link;
		}
	}
	.footer-more {
		text-decoration: underline;
		color: $tan1;
	}
	.copy {
		padding: 50px 0 10px;
		color: $slate2;
		font-size: 15px;
		font-weight: 300;
		ul {
			display: inline-block;
			@extend %listreset;
			li {
				display: inline-block;
				&:before {
					content: ' | ';
					padding: 0 10px 0 5px;
				}
			}
			a {
				@extend a.link;
				color: $slate2;
				//text-decoration: underline;
				&:hover {
					color: $white;
					//text-decoration: none;
				}
			}
		}
	}
}
.social {
	text-decoration: none;
	@extend %listreset;
	li {
		margin-bottom: 5px;
	}
	a {
		color: $grey1;
		&:hover {
			text-decoration: underline;
		}
	}
	.fa {
		width: 20px;
		height: 20px;
		display: inline-block;
		text-align: center;
		background: $tan1;
		border-radius: 50%;
		color: $blue;
		color: $slate1;
		line-height: 20px;
		font-size: 12px;
		vertical-align: top;
		margin-right: 10px;
	}
}

#toTop{
	position: fixed;
	bottom: 20px;;
	right: 20px;
	opacity: 0;
	@include media('<phone') {
		bottom:20px !important;
	}
	transition: all .3s ease-in;
	&:before{
		content: '';
		display: block;
		height: 25px;
		width: 14px;
		margin: 0 auto 5px;
		background: url(images/Icons/icon-back-to-top-hover.svg) no-repeat;
		background-size: 100%;
		@extend .moveArrowY;
	}
	&:hover{
		&:before{
			background-image:  url(images/Icons/icon-back-to-top-skin.svg);
		}
	}
	&.active{
		opacity: 1;
	}
}
@include media('<tablet') {
	.booking {
		.content-holder {
			text-align: center;
			span {
				font-size: 14px;
			}
			h2 {
				font-size: 38px;
			}
			a {
				font-size: 16px;
				padding: 10px 20px;
			}
		}
	}
	#footer {
		padding-left: 20px;
		padding-right: 20px;
		.box {
			font-size: 16px;
		}
		nav {
			display: none;
		}
		h4 {
			font-size: 14px;
			font-weight: 300;
		}
		a {
			font-size: 14px;
		}
		.social-info {
			h4 {
				display: none;
			}
		}
		.copy{
			margin: 0 -15px;
			font-size: 13px;
			ul li{
				margin: 0 7px;
				&:before{
					content: none;
				}
				&:last-child{
					display: block;
				}
			}
		}
	}
	.social {
		text-align: center;
		margin-bottom: 30px;
		.fa{
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 25px;
		}
		li{
			display: inline;
			margin: 0 15px;
		}
		span {
			display: none;
		}
	}
}