// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #000;
$white: #fff;

$tan1 : #e9c6a6;
$tan2 : #f4e2d4;
$blue: #697e90;
$slate1 : #454d52;
$slate2 : #a2a6a9;
$grey1 : #c4c6c8;
$grey2 : #f8f8f8;
$red: #fa6268;


//$light-blue: #39f;
//$dark-red: #89181a;
$dark-grey: #231f20;

// $font-family: "lato",sans-serif;

$base-font-sans-serif: 'futura-pt', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'futura-pt','Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body 
$base-text-color: #424242 !default;
$base-background-color: $white !default;
$base-font-size: 16px !default;
$base-line-height: 1.625 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $slate1;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $slate1 !default;

// Headers
$h1-font-size: 36px !default;
$h1-line-height:48/36 !default;
$h1-font-wirght:600;

$h2-font-size: 30px !default;
$h2-line-height:42/30 !default;
$h2-font-wirght:300;

$h3-font-size: 18px !default; 
$h3-line-height:28/18 !default;
$h3-font-wirght:900;

$h4-font-size: 18 !default;
$h4-line-height:28/18 !default;
$h4-font-wirght:600;

$h5-font-size: 17px !default;
$h5-line-height: $base-line-height;
$h6-font-size: 15px !default;
$h6-line-height: $base-line-height;

$headings-font-family: inherit !default;
$headings-color: $dark-grey !default;


$animation-speed: 0.3s;

$base-letter-spacing: 0.03em;